# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*




# DIRECTORIO VENDOR Y CONFIGURACIONES
tinylinks.api/vendor/
tinylinks.cli/vendor/

# Archivos de configuración locales (opcional, si usas .env)
*.env

# Archivos del sistema (Mac, Windows)
.DS_Store
Thumbs.db